<p id="notice"><%= notice %></p>

<div class="col-md-8 edit">
<h1>New project </h1> <br><br>

<%= form_for(:project, :url => {:action => 'create'}, :method => :post) do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title, :class => "form-control", :required => true %> <br /><br/>
	<%= f.label :description %>
	<%= f.text_field :desc, :class => "form-control", :required => true %> <br /><br/>
	<%= f.label :image_URL %>
	<%= f.url_field :img, :class => "form-control", :required => true %><br/><br/>
	<%= f.submit "Submit", :class => "btn btn-success" %>
	<br><br>
<% end %>
</div>
